/* financial or timetable */


table.financial {
	margin-top: 50px;
	font-family: 'Open Sans', serif;
	width: 750px;
}

.financial th, .financial td {
	padding: 7px 0px 10px 10px;}

.financial th {
	/*text-transform: uppercase;*/
	letter-spacing: 0.1em;
	font-size: 16px;
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	/*border-right: 1px solid #999;*/
	text-align: left;
}



.financial tr:hover {
	background-color:#efefef;}

.financial tfoot td {
	border-top: 2px solid #111111;
	border-bottom: 1px solid #999;}

